@import "../../../../styles/index";
@import "../../../../styles/tools/mixin";

.contact-details-form-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  padding: 0;
  max-width: 440px;
  margin: 24px 0;

  @include for-tablet-portrait-up {
    margin: 56px 0;
  }
  //use a full row by default for the following fields
  .contact-details-company,
  .contact-details-email,
  .contact-details-phone {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  //Use a full row for each field on small devices
  @media (max-width: $screen-tablet-portrait) {
    .contact-details-first-name,
    .contact-details-last-name {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .form-text-field {
    margin: 0;
  }
}

.contact-details-actions-container {
  padding: 13px 0;
}

.contact-details-submit {
  text-align: left;
  display: inline-block;

  @include for-mobile-portrait {
    margin-top: 2px;
  }

  .button {
    min-width: 142px;
  }
}
