@import "../../../styles/var/index";

$padding-left: 40px;
$padding-left-mobile: 20px;
$card-content-body-padding-top-bottom: 10px;
$card-content-tittle-padding-top-bottom: 22px;

.not-found-card {
  display: flex;
  flex-flow: column;
  width: 540px;
  margin-top: 24px;
  font-size: $font-size-medium;

  @media (min-width: $screen-phone) {
    width: 340px;
  }

  @media (min-width: $screen-desktop-wide) {
    margin-top: 56px;
    width: 540px;
  }

  .not-found-card-body {
    color: $color-grey-light;
    line-height: $line-height-medium;
  }

  .not-found-card-title {
    color: $color-black-text;
    line-height: $line-height-medium;
  }
}

