@import "../../../../styles/var/index";

.list-section {
  position: absolute;
  z-index: 1;
  width: 346px;
  max-height: 500px;
  overflow: auto;
  padding: 0;
  border: 0;
  box-shadow: $box-shadow-light;
  background-color: $color-white;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $color-grey-dark;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  @media (min-width: $screen-tablet-portrait) {
    width: 380px;
  }

  @media (min-width: $screen-desktop-wide) {
    width: 580px;
  }
}
