@import "./external";

$icon-outward-margin: 12px;
$icon-inward-margin: 8px;
$notification-icon-width: 1.5em;
$close-icon-width: 1em;
$left-column-width: calc(#{$icon-outward-margin} + #{$notification-icon-width} + #{$icon-inward-margin});
$right-column-width: calc(#{$icon-outward-margin} + #{$close-icon-width} + #{$icon-inward-margin});

.toast-notification-container {
  top: 0;
  text-align: center;
  margin: 0 auto;
  padding-top: 88px;
  @media (max-width: $screen-tablet-portrait) {
    padding-top: 72px;
  }
  position: fixed;
  left: 3%;
  right: 3%;
  z-index: 2;
}

.toast-notification {
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0;
  border-radius: 4px;
  display: inline-grid;
  -ms-grid-columns: $left-column-width auto $right-column-width;
  grid-template-columns: $left-column-width auto $right-column-width;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  color: #424a50;
}

.toast-notification-message {
  text-align: left;
}

.toast-notification-icon {
  margin-right: $icon-inward-margin;
  margin-left: $icon-outward-margin;
  height: 1.5em;
  width: $notification-icon-width;
}

.toast-notification-close-button {
  margin: 0.25em $icon-outward-margin auto $icon-inward-margin;
  height: 1em;
  width: $close-icon-width;
  cursor: pointer;
}

.toast-notification-error {
  background-color: #FDE7E7;
}