@import "../../../../styles/var/index";

.form-radio-group-container {
  margin-top: 16px;
  margin-bottom: 8px;
  padding-left: 10px;

  .form-radio-group-label {
    color: $color-black-text;
    padding: 12px 0;

  }

  .form-radio {
    span {
      color: $color-black-text;
    }

    &:hover {
      span {
        color: $color-blue;
      }
    }

    span {
      font-size: $font-size-small;
    }
  }
}

