@import "../external";

.subtitle {
  font-style: normal;
  font-weight: normal;
  opacity: 100%;
  text-align: left;
  word-spacing: normal;
}

// reserved
.subtitle-size-xl {
}

// reserved
.subtitle-size-lg {
}

.subtitle-size-md {
  font-size: $font-size-subtitle;
  line-height: $line-height-subtitle;

  @media (max-width: $screen-tablet-portrait) {
    font-size: $font-size-subtitle-mob;
    line-height: $line-height-subtitle-mob;
    padding: 10px 0 0;
  }
}

.subtitle-size-sm {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
}

// reserved
.subtitle-size-xs {
}

.subtitle-color-mirage {
  color: $color-mirage;
}