@import "../../../../styles/var/index";

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78px;
  width: 100%;

  .page-header-title {
    font-size: $font-size-large;
    line-height: $line-height-large;
    font-weight: $font-weight-normal;

    @media (min-width: $screen-tablet-landscape) {
      font-size: $font-size-subtitle;
      line-height: $line-height-subtitle;
    }
  }
}

