@import "../../../../styles/var/index";
@import "../../../../styles/tools/index";

$opening-hours-margin: 47px;
$postshop-card-padding: 16px;
$selected-postshop-card-border-left: 5px;

.postshop-card {
  display: flex;
  flex-direction: column;
  width: 314px;
  padding: $postshop-card-padding $postshop-card-padding 0 $postshop-card-padding;
  margin-bottom: 12px;
  border: 1px solid #E7E7E7;

  &.selected-postshop {
    padding-left: calc(#{$postshop-card-padding} - #{$selected-postshop-card-border-left});
    border-left: $selected-postshop-card-border-left solid rgba(71, 137, 255, 1);
    box-shadow: $box-shadow-light-blurry;
    background-color: #F5F7FA;
  }

  @media (min-width: $screen-tablet-portrait) {
    width: 346px;
  }

  @media (min-width: $screen-desktop-wide) {
    width: 546px;
    margin-bottom: 24px;
  }

  .postshop-card-details {
    display: flex;
    flex-direction: column;
    color: $color-grey-text;

    .postshop-card-title {
      font-size: $font-size-medium;
      line-height: $line-height-medium;
      font-weight: $font-weight-bold;
    }

    .postshop-location-details {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin: 4px 0 0 0;

      @media (min-width: calc(#{$screen-tablet-landscape} + 1px)) {
        padding: 8px 0;
      }

      .postshop-card-address {
        color: $color-grey-text;
        font-size: $font-size-small;
        flex-grow: 0.8;
      }

      .postshop-distance-text {
        font-size: $font-size-xs;
        flex-grow: 0.2;
        text-align: right;
      }
    }

    .postshop-card-contact-toolbar {
      display: flex;
      flex-direction: row;
      margin: 0;

      .postshop-card-directions-button {
        display: flex;
        align-items: center;
        padding: $text-button-padding;
        color: $color-blue;

        &:hover {
          background: none;
        }

        .direction-icon-image {
          width: 24px;
          height: 24px;
        }

        .postshop-card-directions-text {
          margin-left: 0.5rem;
          text-transform: initial;
          width: 103px;
          font-size: $font-size-small;
        }
      }

      .postshop-card-phone-button {
        display: flex;
        align-items: center;
        padding: $text-button-padding;
        margin-left: 12px;
        color: $color-blue;

        &:hover {
          background: none;
        }

        .phone-icon-image {
          width: 24px;
          height: 24px;
        }

        .postshop-card-phone-text {
          margin-left: 0.5rem;
          width: 103px;
          font-size: $font-size-small;
        }
      }
    }
  }

  .postshop-card-hours-container {
    display: flex;
    flex-direction: column;
    color: $color-grey-text;
    box-shadow: none;
    width: 295px;
    margin-top: 4px;
    margin-bottom: 12px;
    background-color: transparent;

    &:before {
      opacity: 1;
      background-color: inherit;
    }

    .arrow-down-icon-image {
      width: 16px;
      height: 16px;
    }

    .postshop-card-hours-title {
      justify-content: center;

      line-height: $line-height-small;
      font-size: $font-size-small;
      flex-grow: 0.2;

      padding: 0;
      min-height: auto;

      .postshop-hours-icon {
        fill: $color-green;

        @include mod("closed") {
          fill: $color-red-error-text;
        }
      }

      :first-child {
        margin: 0;
      }

      :nth-child(2) {
        right: 0;
        padding: 0;
      }

      .postshop-card-hours-status {
        margin-left: 10px;
        width: 115px;
        color: $color-green;
        font-weight: bold;

        @include mod("closed") {
          color: $color-red-error-text;
        }
      }

      .postshop-card-hours-today {
        padding-right: 26px;
      }
    }

    .postshop-card-hours-details {
      flex-direction: column;
      line-height: $line-height-small;
      font-size: $font-size-small;
      padding-bottom: 10px;
      padding-left: 32px;

      .postshop-card-hours-full {
        display: flex;
        flex-direction: row;

        @include mod("current-day") {
          font-weight: bold;
        }

        .postshop-opening-hour-day {
          width: 115px;
        }
      }
    }
  }

  .postshop-card-services-container {
    display: flex;
    flex-direction: column;
    color: $color-grey-text;
    box-shadow: none;
    margin-top: 4px;
    background-color: transparent;

    &:before {
      opacity: 1;
    }

    .arrow-down-icon-image {
      width: 26px;
      height: 26px;
    }

    .postshop-card-opening-hours-container {
      display: flex;
      flex-direction: column;
      font-size: $font-size-small;
      line-height: $line-height-small;
      margin-bottom: 18px;

      .postshop-card-opening-hours-title {
        font-weight: $font-weight-medium;
      }
    }

    .postshop-card-services-title {
      line-height: $line-height-medium;
      font-size: $font-size-medium;
      padding: 0;
      min-height: 45px;

      :first-child {
        margin: 0;
      }

      :nth-child(2) {
        right: 0;
        padding: 0;
      }
    }

    .postshop-card-services-details {
      line-height: $line-height-small;
      font-size: $font-size-small;
      padding: 0;
      flex-direction: column;
    }

    .postshop-card-services {
      margin-bottom: 18px;
    }

    .postshop-card-services-list-item {
      align-items: flex-start;
      display: flex;
      float: left;
      list-style: outside none none;
      width: 100%;

      @media (min-width: $screen-tablet-landscape) {
        width: 50%;
      }
    }

    .green-tick-icon-image {
      padding-right: 10px;
      width: 22px;
      height: 22px;
    }

    .gis-map-container {
      height: 254px;
      z-index: 0;

      @media (min-width: $screen-tablet-portrait) {
        height: 346px;
      }
    }

    .map-container {
      position: relative;
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      padding-top: 16px;
    }

    .map-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}