@import "../../external";

.tracking-number-form-container {
  margin: 29px 0;
  font-size: $font-size-medium;

  @include for-mobile-portrait {
    max-width: 520px;
    margin: 0;
  }
}

.form-container--ugly-fix {
  margin-bottom: 0px;
}

.tracking-number-submit {
  text-align: left;
  margin-top: 34px;
  display: inline-block;

  @include for-mobile-portrait {
    margin-top: 2px;
  }

  .button {
    min-width: 142px;
  }
}
