@import "../../../styles/var/index";

.form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: column;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $screen-tablet-portrait) {
    max-width: 520px;
  }
}

.suggest-submit {
  margin-top: 40px;

  .button {
    min-width: 280px;

    @media (min-width: $screen-tablet-portrait) {
      min-width: 320px;
    }
  }
}
