@import "../../../styles/var/index";

.submitted-address {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: $font-size-medium;

  .title {
    font-weight: $font-weight-xb;
  }

  .address {
    height: 20px;
  }

  .city-or-town {
    height: 48px;
  }


  .info {
    background-color: $color-blue-dark;
  }

  .address-icon {
    font-size: $font-size-large;
    color: $color-blue;
    vertical-align: text-bottom;
    padding-right: 5px;
  }

  .address-confirmed {
    padding: 10px 0;
  }

  td {
    font-size: $font-size-medium;
    border: none;
    padding: 4px;
    vertical-align: text-top;
  }

  @media (min-width: $screen-tablet-portrait) {
    max-width: 500px;
  }

}

.back-to-apf {
  margin-top: 40px;
}
