@import "../../external.scss";

$address-suggestion-icon-width: 18px;
$address-suggestion-icon-width-mobile: 16px;

$left-column-width: calc(#{$address-suggestion-icon-width} + 8px);
$left-column-width-mobile: calc(#{$address-suggestion-icon-width-mobile} + 8px);

.address-suggestion {
  margin: 0;
  padding: 0;

  display: inline-grid;
  -ms-grid-columns: $left-column-width-mobile auto;
  grid-template-columns: $left-column-width-mobile auto;

  @include for-tablet-portrait-up {
    -ms-grid-columns: $left-column-width auto;
    grid-template-columns: $left-column-width auto;
  }

  -ms-grid-rows: auto;
  grid-template-rows: auto;

  & .address-suggestion-icon {
    margin-top: 3px;
    height: $address-suggestion-icon-width-mobile;
    width: $address-suggestion-icon-width-mobile;

    @include for-tablet-portrait-up {
      margin-top: 4px;
      height: $address-suggestion-icon-width;
      width: $address-suggestion-icon-width;
    }
  }
}