@import "../external";

.suggestion {
  margin: 0;
  padding: 24px 12px;
  font-size: 16px;
  line-height: 24px;

  @include for-tablet-portrait-up {
    padding: 26px 12px;
    font-size: 18px;
    line-height: 26px;
  }
}