@import "../../../styles/var/index";

.locator-quick-search-main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 346px;
  height: 174px;
  border: $card-border;
  margin-top: 24px;

  @media (min-width: $screen-tablet-portrait) {
    width: 380px;
  }

  @media (min-width: $screen-desktop-wide) {
    margin-top: 56px;
    width: 580px;
    height: 120px;
  }

  .locator-quick-search-container {
    width: 330px;
    height: auto;

    @media (min-width: $screen-tablet-portrait) {
      width: 340px;
    }

    @media (min-width: $screen-desktop-wide) {
      width: 544px;
      height: 84px;
    }

    .locator-quick-search-title {
      color: $color-grey-light;
      font-size: $font-size-medium;
      line-height: $line-height-medium;
    }

    .locator-quick-search-button-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: space-between;
      height: 98px;
      margin-top: 8px;

      @media (min-width: $screen-desktop-wide) {
        margin-top: 18px;
      }

      .locator-quick-search-button {
        padding: 0;
        height: 40px;
        width: 162px;
        // TODO: Another grey. Change.
        background-color: #F5F7FA;
        text-transform: initial;
        color: #424A50;
        font-size: $font-size-medium;
        line-height: $line-height-medium;

        @media (min-width: $screen-desktop-wide) {
          width: 126px;
        }

        &:hover {
          background-color: $color-blue;
          color: $color-white
        }
      }
    }
  }
}