@import "../../../styles/var/index";

.results-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;

  .result-list-items {
    position: relative;
    max-height: calc(100vh - 254px - 2px);
    overflow-y: overlay;
    overflow-x: hidden;
    padding: 0;

    .result-list-item {
      padding: 0 12px;

      @media (min-width: $screen-tablet-portrait) {
        padding: 0 18px;
      }

      @media (min-width: $screen-desktop-wide) {
        padding: 0 30px;
      }
    }

    .result-list-item:last-child .postshop-card {
      margin-bottom: 0;
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: $color-grey-dark;
    }
  }
}

.no-results {
  margin-top: 20px;
}