@import "../../external";

.previous-button {
  color: $color-blue;
  font-size: $font-size-large;
  padding-right: 24px;
  line-height: $line-height-large;

  .left-arrow-button-icon {
    height: 24px;
    width: 24px;
    padding-right: 8px;
    top: 6px;
    position: relative;
  }
}