@import "../standard-map-var";

.standard-map-icon {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  z-index: calc(#{$map-control-z-index} - 1);

  &:hover {
    cursor: pointer;
  }
}

.standard-map-icon-selected {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(-50%);
  }
  40% {
    transform: translateX(-50%) translateY(-65%);
  }
  60% {
    transform: translateX(-50%) translateY(-55%);
  }
}
