@import "../external.scss";

.card-success {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 24px 0;
  padding: 22px 16px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e7e7e7;
  background-color: #ffffff;
  color: #343434;
  margin: 24px 0;

  @include for-tablet-portrait-up {
    grid-gap: 16px 0;
    max-width: 672px;
    padding: 34px;
    margin: 56px 0;
  }

  .row-container {

    //margin: 0 0 24px 0;
    //&:last-of-type {
    //  margin: 0 ;
    //}

    .row {
      padding: 0;
      display: grid;
      grid-template-columns: 26px auto;
      grid-gap: 4px 8px;

      .icon {
        width: 26px;
        height: 26px;
        border-radius: 34px;

        display: -webkit-flex; /* Safari */
        display: flex;
        -webkit-align-items: center; /* Safari 7.0+ */
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        text-align: center;

        svg {
          //transform: scale(0.5, 0.5) translate(-16%, -21%);
          color: white;
        }
      }
      .label {
        font-family: $font-family;
        //height: 26px;
        font-size: 18px;
        //font-weight: 500;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: normal;
        color: #3f3f3f;
      }

      .value {
        grid-column-start: 2;
        grid-column-end: 3;
        //height: 24px;
        font-family: $font-family;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #3f3f3f;
      }
    }
  }

  .parcel-icon {
    background-color: #dc0303;
  }
  .pin-icon {
    background-color: #4a90e2;
  }
  .calendar-icon {
    background-color: #65b939;
  }
}