@import "../external.scss";

.title {
  font-style: normal;
  font-weight: normal;
  opacity: 100%;
  text-align: left;
  word-spacing: normal;
}

.title-size-xl {
  font-size: 76px;
  line-height: 86px;
}

.title-size-lg {
  font-size: $font-size-title-large;
  line-height: $line-height-title-large;

    @media (max-width: $screen-tablet-portrait) {
      font-size: $font-size-title-medium-mob;
      line-height: $line-height-title-medium-mob;
  }
}

.title-size-md {
  font-size: 46px;
  line-height: 54px;
}

.title-size-sm {
  font-size: 30px;
  line-height: 38px;
}

// reserved
.title-size-xs {
}

.title-color-red-nz-post {
  color: $color-red-nz-post;
}