@import "../../../../styles/var/index";

.location-suggestion-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-height: 100px;
  width: 580px;

  .location-information-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .location-icon {

      .postshop-icon-image {
        padding: 3px 0;
      }

      .location-icon-image {
        padding: 3px 0;
        width: 18px;
        height: 18px;
      }
    }

    .location-content {
      margin-left: 8px;
      display: flex;
      flex-direction: column;
    }

    .location-name-text {
      font-size: $font-size-medium;
      line-height: $line-height-medium;
    }

    .location-address-text {
      font-size: $font-size-small;
      line-height: $line-height-small;
      color: $color-grey-text;
      margin-top: 8px;
      padding-bottom: 8px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}


