// box shadows
$box-shadow: 0 2px 4px 0 #d4d4d4bf;
$box-shadow-light: 0 2px 4px 0 #d4d4d480;
$box-shadow-xlight: 0 2px 4px 0 #d4d4d44d;
$box-shadow-light-blurry: 0 4px 10px 0 lightgray;

// border radius
$border-radius-normal: 5px;
