// screen sizes
$screen-phone: 320px;

$screen-tablet-portrait: 640px;
$screen-tablet-landscape: 1024px;

$screen-tablet-portrait-large: 1024px;
$screen-tablet-landscape-large: 1366px;

$screen-desktop-wide: 1440px;