// blues
$color-blue: #0068FF;
$color-blue-dark: #31538F;

// greens
$color-green: #32A465;

// blacks
$color-black-light: #343B40;
$color-black-text: #212528;

// greys
$color-grey-xlight: rgba(198, 200, 202, 0.2);
$color-grey-light: #7A8084;
$color-grey-dark: #757575;
$color-grey-text: #4A4A4A;
$color-grey-button: #545C61;
$color-grey-border: #E7E7E7;

//dsm grey
$color-link-water: #C6C8CA;

// white
$color-white: #FFFFFF;

// reds
$color-red-error-border: #FF001F;
$color-red-error-text: #FF001F;
$color-red-nz-post: #DC0000;

$color-mirage: #343B40;
