// families
$font-family: 'Roboto', sans-serif;

// line height

//Web and Tablet devices
$line-height-title-xl: 86px;
$line-height-title-large: 64px;
$line-height-title-medium: 54px;
$line-height-title-small: 38px;

//Mobile devices
$line-height-title-xl-mob: 58px;
$line-height-title-large-mob: 46px;
$line-height-title-medium-mob: 38px;
$line-height-title-small-mob: 28px;

//Web and Tablet devices
$line-height-subtitle: 32px;
//Mobile devices
$line-height-subtitle-mob: 24px;

//Web and Tablet devices
$line-height-large: 26px;
$line-height-medium: 24px;
$line-height-small: 22px;
$line-height-xs: 20px;

//Mobile devices
$line-height-large-mob: 24px;
$line-height-medium-mob: 22px;
$line-height-small-mob: 20px;
$line-height-xs-mob: 18px;


// font sizes in pixels
//Web and Tablet devices
$font-size-title-xl: 76px;
$font-size-title-large: 56px;
$font-size-title-medium: 46px;
$font-size-title-small: 38px;

//Mobile devices
$font-size-title-xl-mob: 50px;
$font-size-title-large-mob: 38px;
$font-size-title-medium-mob: 30px;
$font-size-title-small-mob: 20px;

//Web and Tablet devices
$font-size-subtitle: 24px;

//Mobile devices
$font-size-subtitle-mob: 16px;

//Web and Tablet devices
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-xs: 12px;

//Mobile devices
$font-size-large-mob: 16px;
$font-size-medium-mob: 14px;
$font-size-small-mob: 12px;
$font-size-xs-mob: 10px;

// font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-xb: 700;

// letter spacing
$letter-spacing-body: 0;

// browser type context
$browser-context: 16;

// text-button padding
$text-button-padding: 5px 1px 5px 0px;

// card-border
$card-border: 1px solid #E7E7E7;

// text
.text-center {
  text-align: center;
}