@import "../../../styles/var/index";
@import "../../../styles/tools/index";
@import "standard-map-var";

.gis-map-container {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .esri-component {
    z-index: $map-control-z-index;
  }

  // Turn off blue focus outline when using map
  .esri-view-surface {
    &:focus {
      outline: none;
    }
  }

  // Fullscreen widget button styling
  .esri-fullscreen {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;

    background-size: 26px 26px;
    background-image: url('../Icons/MapMarkerIcons/fullscreen-icon.svg');
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: $map-ui-shadow;
  }

  // Zoom button styling
  .esri-zoom {
    box-shadow: $map-ui-shadow;
    position: absolute;
    top: -92px;
    right: 10px;
    height: 80px;
    width: 40px;

    .esri-widget--button {
      height: 40px;
      width: 40px;

      .esri-icon {
        font-weight: bold;
      }
    }
  }

  // Remove focus outline from all widget buttons
  .esri-widget--button {
    &:focus {
      outline: none;
    }
  }

  .esri-icon-zoom-out-fixed:before {
    content: ' ';
    color: inherit;
  }

  .map-toggle-button-container {
    position: absolute;
    width: 300px;
    top: 24px;
    left: 24px;
    right: 1px;
    z-index: $map-control-z-index;
  }

  .toggle-button {
    border-radius: 0;
    height: 40px;
    box-shadow: $map-ui-shadow;
    font-weight: bold;

    @include mod("on") {
      background-color: $color-grey-button;
      color: $color-white;
    }

    @include mod("off") {
      background-color: $color-white;
      color: $color-grey-button;
    }
  }
}
