@import "../../../styles/var/index";

.heading-paragraph-group {

  .heading-paragraph-group-heading {
    font-size: $font-size-large;
    line-height: $line-height-medium;
  }

  .heading-paragraph-group-paragraph {
    margin: 22px 0px;
  }
}