@import "../external";

.radio-button-group-container {
  margin-top: 56px;
  margin-bottom: 56px;
  @include for-mobile-portrait {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .radio-button-group-label {
    color: $color-black-text;

  }

  .redelivery-option {
    span {
      color: $color-black-text;
      font-size: $font-size-large;

      @include for-mobile-portrait {
        font-size: $font-size-large-mob;
      }
    }

    &:hover {
      span {
        color: $color-blue;
      }
    }
  }

  .redelivery-options-disabled {
    span {
      color: $color-link-water;
    }

    &:hover {
      span {
        color: $color-link-water;
      }
    }
  }

  .redelivery-options-selected span {
    color: $color-blue;
  }
}

