@import "../../../styles/var/index";

.button-container {
  flex-direction: row;
  justify-content: center;
  text-align: center;

  .button {
    box-shadow: $box-shadow-light;
    text-transform: inherit;
    font-size: $font-size-large;
    line-height: $line-height-large;
    font-weight: 400;
    color: $color-white;
    background-color: $color-blue-dark;
    height: 50px;

    &:hover {
      outline: 0;
      box-shadow: $box-shadow-light-blurry;
      color: $color-white;
      background-color: $color-blue;

      @media (max-width: $screen-tablet-portrait) {
        &:hover {
          background-color: $color-blue-dark;
        }
      }
    }

    .button-icon {
      padding-left: 8px;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}