@import "../external";

.search-field {
  border: 1px solid #B0B0B0;
  background-color: #FFFFFF;
  width: 556px;
  height: 50px;

  &.search-field-focused {
    border-color: $color-blue;
  }

  &.search-field-input-active {
    font-weight: $font-weight-normal;
    border-color: $color-blue;
  }

  .search-field-input {
    font-size: $font-size-large;
    line-height: $line-height-large;
    padding: 12px;

    &::-ms-clear {
      display: none;
    }
  }

  @media (max-width: $screen-tablet-portrait) {
    width: 330px;
  }

  // Search bar input
  :first-child {
    border: 0;
  }
}