@import "../styles/var/box-shadows";

$header-height: 64px;

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header' 'page';
  -ms-grid-columns: 100% 0;
  grid-template-columns: 100% 0;
  height: 100%;
}

// header section
.header {
  -ms-grid-row: 1;
      grid-row: 1;
  -ms-grid-column: 1;
      grid-column: 1;
  display: -ms-grid;
  display: grid;
  grid-area: header;
      grid-template-areas: 'logo .';
  height: $header-height;
  -webkit-box-shadow: $box-shadow-light;
          box-shadow: $box-shadow-light;
}

.logo {
  position: relative;
  top: 16px;
  left: 16px;
  height: 32px;
  width: 32px;
}

// page section
.page {
  -ms-grid-row: 2;
      grid-row: 2;
  -ms-grid-column: 1;
      grid-column: 1;
  grid-area: page;
  height: calc(100vh - #{$header-height});
}
