@import "../../../../styles/var/index";

input[type="text"], input[type="email"] {
  font-size: $font-size-large;
  font-weight: $font-weight-light;
}

.form-text-field {
  margin-top: 20px;
  margin-bottom: 0;
}

#root .form-text-field-input-container {
  border: 1px solid $color-grey-light;
  border-radius: 0;
  background-color: $color-white;
  height: 56px;

  &:before {
    border: none;
    content: "";
  }

  &:after {
    border: none;
  }

  &:hover {
    background-color: $color-grey-xlight;
  }

  &.form-text-field-input-active {
    font-weight: $font-weight-normal;
    border-color: $color-blue;
  }

  &.form-text-field-input-error {
    border-color: $color-red-error-border;
  }
}

$message-icon-width: 22px;
$left-column-width: calc(#{$message-icon-width} + 8px);

.form-text-field-error-message {
  padding: 8px 12px;
  color: $color-black-text;
  vertical-align: text-bottom;
  font-size: $font-size-small;
  line-height: $line-height-small;

  display: inline-grid;
  grid-template-columns: $left-column-width auto;
  grid-template-rows: auto;

  .error-icon {
    height: $message-icon-width;
    width: $message-icon-width;
    color: $color-red-error-text;
  }
}

