@import "../../../styles/var/index";

.postshop-location-popover {
  border-radius: 0;
}

.postshop-location-tooltip-content-container {
  padding: 20px 18px;
  color: $color-grey-text;
  font-size: $font-size-small;
}

.postshop-location-tooltip-title {
  font-weight: $font-weight-bold;
}
