@import "../../styles/var/index";

.error-page-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;

  .error-page-logo {
    margin: 2rem;
  }

  .error-page-message {
    h1 {
      font-size: $font-size-large;
      font-weight: $font-weight-medium;
      margin: 3px;

      @media (min-width: $screen-tablet-portrait) {
        margin: 1rem;
        font-size: $font-size-large-mob;
      }
    }
  }

  .error-page-support-button {
    font-size: $font-size-medium;
    margin: 2rem;
    color: #056FFA;
    font-weight: $font-weight-xb;
    text-transform: none;
  }
}