@import "../var/breakpoints";

@mixin mod($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: #{$screen-tablet-landscape}) {
    @content;
  }
}

@mixin for-desktop-wide-up {
  @media (min-width: #{$screen-desktop-wide}) {
    @content;
  }
}

@mixin for-mobile-portrait {
  @media (max-width: #{$screen-tablet-portrait}) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: #{$screen-tablet-portrait}) {
    @content;
  }
}