@import "../../../styles/var/index";

$padding-left: 40px;
$padding-left-mobile: 20px;
$card-content-body-padding-top-bottom: 10px;
$card-content-tittle-padding-top-bottom: 22px;

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow-light-blurry;
  border-top: 1px $color-grey-light solid;
  border-bottom: 5px $color-green solid;
  border-radius: 0;

  .card-content {
    width: 100%;
    padding: 0;
  }

  .card-content-body {
    padding: $card-content-body-padding-top-bottom 0 $card-content-body-padding-top-bottom $padding-left-mobile;

    @media (min-width: $screen-tablet-portrait) {
      padding-left: $padding-left;
    }
  }

  .card-content-title {
    font-size: $font-size-subtitle-mob;
    line-height: $line-height-subtitle-mob;
    font-weight: normal;
    padding: $card-content-tittle-padding-top-bottom 0 $card-content-tittle-padding-top-bottom $padding-left-mobile;
    color: $color-black-light;
    border-bottom: 1px solid lightgray;

    @media (min-width: $screen-tablet-portrait) {
      padding-left: $padding-left;
      font-size: $font-size-subtitle;
      line-height: $line-height-subtitle;
    }
  }
}

