@import "../external";

.confetti-background {
  max-width: 672px;
  height: 283px;
  background-position: 50% 120%;
  background-image: url("redelivery-success-bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: inherit;

  @include for-mobile-portrait {
    background-image: url("redelivery-success-bg-mobile.svg");
    background-position: -20% -60%;
  }
}

.single-page-container {
  margin: 0;
  padding: 0;

  @include for-mobile-portrait {
    margin: 0 16px;
    padding: 0;
  }
  @include for-tablet-portrait-up {
    margin: 0  152px;
    padding: 0;
  }

  @include for-tablet-landscape-up {
    margin: 0  152px;
    padding: 0;
  }

  @include for-desktop-wide-up {
    //max-width: 1368px;
    margin: 0  152px;
    padding: 0;
  }
}