 @import "../external";
 
.suggestions-container {
  position: absolute;
  z-index: 1;
  width: 556px;
  max-height: 350px;
  overflow: auto;
  padding: 0;
  border: 0;
  box-shadow: $box-shadow-light;
  background-color: $color-white;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $color-grey-dark;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  @media (max-width: $screen-tablet-portrait) {
    width: 330px;
  }
 }