@import "../../../../styles/var/index";

.form-textarea-field {
  margin-top: 20px;
}

#root .form-textarea-field-input-container {
  border: 1px solid $color-grey-light;
  border-radius: 0;
  background-color: $color-white;
  font-size: $font-size-medium;

  &:before {
    border: none;
    content: "";
  }

  &:after {
    border: none;
  }

  &:hover {
    background-color: $color-grey-xlight;
  }

  &.form-textarea-field-input-active {
    border-color: $color-blue;
  }

  &.form-textarea-field-input-error {
    border-color: $color-red-error-border;
  }

}

.form-textarea-field-error-message {
  padding-left: 10px;
  color: $color-red-error-text;
  font-size: $font-size-small;
}

.form-textarea-field-error-message .error-icon {
  font-size: $font-size-small;
  vertical-align: text-bottom;
  padding-right: 5px;
}
