@import "../../../../styles/var/index";

.two-column-page {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'two-column-page-left two-column-page-right';
  -ms-grid-columns: 100% 0;
  grid-template-columns: 100% 0;
  -ms-grid-rows: 1fr;
  height: 100%;

  @media (min-width: $screen-tablet-landscape) {
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
  }
}

.two-column-page-left {
  -ms-grid-row: 1;
      grid-row: 1;
  -ms-grid-column: 1;
      grid-column: 1;
  grid-area: 'two-column-page-left';
}

.two-column-page-right {
  -ms-grid-row: 1;
      grid-row: 1;
  -ms-grid-column: 2;
      grid-column: 2;
  grid-area: 'two-column-page-right';
}