@import "../../styles/var/index";

.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

  .home-item {
    margin: 1rem 0 1rem 0;
    background-color: $color-blue;
    color: $color-white;
  }
}