@import "../../external";

.single-column-page {
  display: -ms-grid;
  display: grid;
  grid-template-areas: 'single-column-page-header' 'single-column-page-body';
  -ms-grid-columns: 100% 0;
  grid-template-columns: 100% 0;
  -ms-grid-rows: 64px 1fr;
  grid-template-rows: 38px 1fr;
  height: 100%;
  @include for-tablet-portrait-up {
    grid-template-rows: 64px 1fr;
  }
}

.single-column-page-header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: single-column-page-header;
}

.single-column-page-body {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-area: single-column-page-body;
}
