@import "../../../../styles/var/index";

.locator-search-field {
  width: 344px;
  box-shadow: $box-shadow;
  padding: 0;
  margin: 0 auto;
  border: 1px solid transparent;

  &.locator-search-field-focused {
    border-color: $color-blue;
  }

  .search-field-input {
    font-size: $font-size-medium;
    line-height: $line-height-title-small;
    padding-top: 12px;
    padding-bottom: 12px;

    &::-ms-clear {
      display: none;
    }
  }

  @media (min-width: $screen-tablet-portrait) {
    width: 378px;
  }

  @media (min-width: $screen-desktop-wide) {
    width: 578px;
  }

  // Search bar input
  :first-child {
    border: 0;
  }

  .search-start-adornment {
    margin: 0;
  }

  .search-end-adornment-button {
    padding: 0;

    &:hover {
      background: none;
      transition: none;
    }

    span {
      color: transparent;
    }
  }

  .search-icon-image {
    width: 26px;
    height: 26px;
    padding-left: 16px;
    padding-right: 20px;
  }

  .search-clear-icon-image {
    width: 26px;
    height: 26px;
    padding: 0 16px;
  }

  .search-end-adornment {
    margin: 0;
    width: 58px;
  }

  .search-loading-spinner-image {
    &:hover {
      background: none;
    }
  }

  .search-loading-icon {
    width: 26px;
    height: 26px;
    padding: 0 16px;
  }

  .search-loading-spinner-image {
    padding: 0 16px;
    color: $color-grey-light;
  }

}
