@import "../var/index";

body {
  font-size: $font-size-medium;
  font-family: $font-family;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-body;
  color: $color-black-text;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: $color-black-text;
  &:hover {
    color: $color-black-text;
  }
}

hr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: $color-grey-light;
}

